<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>User in work</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("User Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="index" class="navbar-brand">Index</li>
                    <li id="login" class="navbar-brand">Login</li>
                    <li id="logout" class="navbar-brand">Logout</li>
                    <li id="register" class="navbar-brand">Register</li>
                    <li id="getUser" class="navbar-brand">Get user(s)</li>
                    <li id="getUsersTask" class="navbar-brand">Get task(s)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="container" id="content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        <div id="scripts"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/menuLogik.js"></script>
</body>
</html>
